django
django-redis
django-allauth
django-environ
django-crispy-forms
django-compressor

django-contrib-comments
django-markdownx
channels
sorl-thumbnail
django-taggit
channels-redis
awesome-slugify
argon2-cffi
pillow
coverage
python3-openid
requests-oauthlib
requests
django-haystack
elasticsearch

